body{
    margin-top: 0px;
    padding-top: 0;
}
p{
    color: gray;
}

.container-fluid{
    background-color:#141c50;
    /* position: fixed; */
   height: 70px;
    
}
.logo{
    height: 60px;
    object-fit: contain;
}
.nav-link{
   
}
.wall{
    background-image: url(wall.jpg);
    height: 85vh;
    max-width: 100%;
    /* width: 100%; */
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.img-fluid{
    height: 160px;
    position: absolute;
    width: 55%;
    bottom: 5vh;
    left: 20%;
    max-width: 100%;
}
.col-md-6{
    /* height: 500px; */
    height: fit-content;
    align-items: center;
    
}
.wingsimg{
    
    height: 100%;
    width: 100%;
}
#twoplanesimg{
    
}
button{
    background-color: #141c50;
    border-radius: 5px;
    
}
a{
    color: yellow;text-decoration: none;
}
.container3-fluid{
    background-color: #141c50;
    position: relative;
}

.container3-fluid h1{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 4%;
    /* margin-left: 40%;
    margin-right: 30%; */
color: rgb(216, 154, 19);
}
.container3-fluid p{
    /* margin-left: 15%;
    margin-right: 15%; */
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 8%;
    text-align: center;
        color:white;
    }
    #footer-rights p{
        color: black;
        text-align: center;
    }


    .back-to-top{
        padding: 10px;
        background-color: #FECB00;
        border-radius: 5px;
        position: fixed;
        right: 15px;
       bottom: 15px;
    }